@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

* {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 900;
}

img {
    width: 100%;
    height: auto;
}

/* containers */

.main-container {
    width:80%;
    margin: 2em auto 4em auto;
    padding: 1em;
    background-color: blanchedalmond;
}

.image-container img {
    object-fit: cover;
    max-height: 20rem;
}

/* buttons */

.button {
    padding: 1em 0;
    width:100%;
    border-radius: 10px;
    text-align: center;
}

.home {
    color:white;
    background-color: black;
}

.source {
    border: 1px solid;
    color:rgb(173, 130, 0);
    background-color: rgb(255, 249, 242);
}

/* Text Formatting and styles */

.centered-text {
    text-align: center;
}